.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkorange;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: -8px;
  font-size: 40px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}
ul button{
  float: right;
  background-color: red;
  color: white;
  border: none;
}
ul {
  list-style-type: none;
  margin-left: -25px;
}
li{
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  width: 99%;
}
label:nth-child(4){
  display: block;
  padding: 0px;
  margin-left: 10px;
}
input{
  float: right;
  margin-right: 5px;
  border: 1px solid grey;
  border-radius: 25px;
  text-align: center;
}
/* radio button */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* end radio button*/
div ul{
  display: grid;
}
/* button */
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
}

.orange
{
  background-color: #FD6A02;
  border-bottom: 5px solid #feb773aa;
}
.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
/*end button */
div#addP{
  background-color: #feb773aa;
  display: list-item;
}
div#addP button{
  margin-top: 5px;
  width: 96%;
  margin-left: 1%;
}
input#addProdotto{
  width: 98%;
  margin-bottom: 5px;
}
div.select{
  margin-left: 3px;
}
h1{
  padding-top: 2%;
}
