* {
  font-family: sans-serif;
}

header {
  background-color: #FD6A02;
  padding: 2% 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  background-image: url("../../pizza.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* Icon bar */
span.icon:link {
  color: grey;
}

span.icon:visited {
  color: grey;
}

span.icon:hover {
  color: white;
}

span.icon:active {
  color: red;
}

span.icon {
  color: black;
}

header {
  margin-bottom: 5%;
}

body {
  margin: 0px;
}

nav#icons a, div#right_icons {
  display: inline-block;
}

div#right_icons {
  position: absolute;
  right: 5%;
}

span.fa-search {
  cursor: pointer;
}

/* Searchbar */
nav#searchbar {
  display: none;
  vertical-align: bottom;
  width: 100%;
  border-bottom: 2px solid black;
}

input#search {
  display: inline-block;
  border: none;
  background-color: #FD6A02;
  outline: none;
  max-width: 70%;
  margin-left: 5%;
  margin-bottom: 1%;
}

input#search::placeholder {
  color: black;
}

input#search::-webkit-search-cancel-button {
  display: none;
}

span.fa-times, span.fa-arrow-left {
  cursor: pointer;
}

span.fa-arrow-left {
  margin-left: 1%;
}

span.fa-times {
  display: none;
  position: absolute;
  margin-top: 1%;
  right: 10%;
}

span.icon, input#search {
  font-size: 28px;
}

body section{
  background-color: #feb773ff;
}
@media screen and (min-width: 600px) {
  span.icon, input#search {
    font-size: 55px;
  }
  body section{
    background-color: #feb773ff;
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
    list-style: none;
  }
}
@media screen and (max-width: 768px){
  body{
    height: 100vh;
  }
}
@media screen and (min-width: 1400px) {
  span.icon, input#search {
    font-size: 300%;
  }
  header{
    padding: 1% 5%;
  }
}
button, span.icon{
  cursor: pointer;
}
