body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
#insertForm {
  padding: 16px;
  background-color: #fd6a02;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=file] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10%;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=file]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

img{
	height:10%;
	width:10%;
}

/* Set a style for the submit button */
.registerbtn {
 background-color: darkorange;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

span.icon{
	font-size: 28px;
}
header {
  background-color: #FD6A02;
  padding: 2% 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.registerbtn:hover {
  opacity: 1;
}

h1{
	font-weight:bold;
	color:red;
	font-family: Comics Sans Ms;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.boss{
	background-color: peachpuff;
	opacity: 0.9%;
}

.icon.fas.fa-sign-in-alt.fa-5x{
	margin-left: 90%;
}

label {
	 font-weight:bold;
}
@media screen and (min-width: 600px) {
  span.icon{
    font-size: 55px;
  }
}

@media screen and (min-width: 1400px) {
  span.icon{
    font-size: 75px;
  }
}

@media screen and (min-width: 2000px) {
  span.icon{
    font-size: 120px;
  }
}