/* .imm_logo {
  position: relative;
  left: 30%;
  width: 40%;
  height: 15%;
  padding-bottom: 2%;
} */

span.icon.fa-home {
  color: grey;
}

img.negozio {
  max-width: 80px;
  max-height: 100px;
}

a {
	text-decoration:none;
	font-size : 18px;
	color: black;
	font-weight:bold;
	text-align:center;
}

table tr:hover {
 background-color: #fd6a02;
 cursor: pointer;
}

div#ris-js{
  background-color: #feb773ff;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  border-bottom: 1px solid grey;
  height: 110px;
}

tr:first-child td {
  border-top: 1px solid grey;
}

td:first-child {
  padding-left: 4%;
  width: 50%;
}

h1 {
  padding-top: 2%;
  text-align: center;
}

#notifications {
  width: 74%;
}

@media screen and (min-width: 600px) {
  div#ris-js{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #notifications {
    width: 100%;
  }

  #notifications:before {
    margin-left: 37%;
  }
}
