body {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	margin: 0px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 25px;
	text-align: center;
}

/* button */
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
}

.orange
{
  background-color: #FD6A02;
  border-bottom: 5px solid #feb773aa;
}
.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
/*end button */

label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

* {
	font-family: sans-serif;
}

header {
	background-color: #FD6A02;
	padding: 2% 5%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
}

/* Icon bar */
span.icon:active {
	color: red;
}

header {
	margin-bottom: 1%;
}

span.icon {
  cursor: pointer;
}

body {
  background: url(../../pizza.jpg) no-repeat fixed;
  background-size: cover;
}

span.icon:hover {
  color: white;
}

span.icon {
  color: black;
}

div#notification {
  cursor: pointer;
}

button {
	background-color: #ff0000;
	color: white;
	padding: 14px 20px;
	font-weight:bold;
	margin: 4px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	text-align: center;
	display: block;
}

#f_log{
	background-color: #feb773ff;
}

#logocontainer {
	text-align: center;
	margin-top: 5%;
	padding-top: 2%;
}

#container {
	padding: 16px;
}

nav#icons a {
	margin-left: 90%;
}

#alert-js{
	background-color: #f44336;
	color: white;
	float: left;
	font-size: 15px;
	transition: 0.3s;
	margin: 4px 0;
}

div#logocontainer {
	text-align: center;
}

img.logo{
	width: 80%;
	height: 7%;
}

span.icon{
	font-size: 28px;
}

@media screen and (min-width: 700px) {
	header{
		padding: 1% 5%;
	}
	#f_log{
		text-align: center;
		width: 70%;
		margin-left: 15%;
	}
}
