* {
  outline: 0;
}

span.fa-user {
  color: grey;
}

#page {
  background-color: #feb773ff;
}

img {
  width: 50%;
  margin-left: 25%;
  padding-top: 2%;
}

form {
  margin-left: 15%;
  margin-top: 6%;
  width: 70%;
}

label {
  margin-bottom: 2%;
  display: block;
  font-weight: bold;
  text-align: center;
}

input {
  border-radius: 25px;
  border: 1px solid grey;
  text-align: center;
  width: 100%;
  margin-bottom: 7%;
}

button#update {
  margin-left: 13%;
  margin-top: 2%;
  font-size: 22px;
}

#mex {
  padding-bottom: 2%;
  text-align: center;
}

#notifications {
  width: 74%;
}

#fascia{
  margin-left: 30%;
  width: 26%;
}

@media screen and (min-width: 400px) {
  button#update {
    margin-left: 20%;
  }
}

@media screen and (min-width: 600px) {
  #notifications {
    width: 100%;
  }

  #notifications:before {
    margin-left: 37%;
  }
}

@media screen and (min-width: 700px) {
  img {
    width: 30%;
    margin-left: 34%;
    margin-top: 4%;
  }
  #fascia{
    margin-left: 39%;
  }

  form {
    margin-left: 24%;
    margin-top: 6%;
    width: 50%;
  }

  button#update {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1000px) {
  button#update {
    margin-left: 26%;
  }
}

@media screen and (min-width: 1300px) {
  button#update {
    margin-left: 33%;
  }
}

@media screen and (min-width: 2000px) {
  button#update {
    margin-left: 40%;
  }
}
