.checked{
  color: orange;
}
.tab {
  overflow: hidden;
  border: 1px solid #bfa790;
  background-color: #fd6a02;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #feb773ff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fd9d4e;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px 6px 0px;
  border-top: none;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  border-box: box-sizing;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/*side bar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: darkorange;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: -8px;
  font-size: 40px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}

ul button{
  float: right;
  background-color: red;
  color: white;
  border: none;
}

div.tab button {
    border: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    cursor: pointer;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  margin: 0px;
}

h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
  margin-bottom: 1%;
}

ul div{
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

label:nth-child(4){
  display: block;
  padding: 0px;
  margin-left: 10px;
}

input#search{
  float: none;
  text-align: left;
}
/* button */
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
}

.orange
{
  background-color: #FD6A02;
  border-bottom: 5px solid #feb773aa;
}
.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
/*end button */
/* radio button */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* end radio button*/
/* container reviews */
div.containerReviews{
  border-bottom: 1px solid grey;
  margin-top: 1%;
}

#page {
  background-color: #feb773ff;
}

input {
  outline: 0;
}

#Menu ul {
  list-style-type: none;
  margin-left: -5%;
}

#Menu li {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 4%;
}

#Menu li input {
  width: 15%;
  border: 1px solid grey;
  border-radius: 25px;
  text-align: center;
}

#Menu li input:nth-child(3) {
  float: right;
  margin-right: 5%;
  margin-top: 1%;
}

#Menu label:nth-child(4) {
  display: block;
  padding: 0px;
  margin-left: 10px;
}

#Menu li input:nth-child(6) {
  width: 25%;
  margin-top: 3%;
}

#Menu li button:nth-child(7) {
  width: 60%;
  padding: 1% 0%;
  margin-top: 2%;
}

#Info {
  padding-bottom: 2%;
}

#Info input, #Info label {
  display: block;
  width: 50%;
  margin-left: 26%;
  text-align: center;
}

#Info input {
  margin-bottom: 2%;
  border-radius: 25px;
  border: 1px solid grey;
}

#Orario {
  padding: unset;
  padding-bottom: 2%;
}

#Orario table {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  border-collapse: collapse;
}

#Orario th, #Orario td {
  border-bottom: 1px solid grey;
  padding-bottom: 2%;
  padding-top: 2%;
}

#Orario th {
  font-size: 80%;
}

#Recensioni {
  padding: unset;
  padding: 6px 12px;
}

#Recensioni h2 {
  font-size: 20px;
  margin-top: 2%;
  text-align: center;
}

#Recensioni > label {
  display: block;
  margin-left: 5%;
  padding-bottom: 2%;
}

#Recensioni > #stelle, #Recensioni > #recens {
  float: right;
  margin-right: 5%;
  margin-top: -8%;
}

#Recensioni > #recens {
  border: 1px solid grey;
  border-radius: 25px;
  text-align: center;
}

#Recensioni > button.action-button {
  padding: unset;
  width: 40%;
  margin-left: 30%;
}

div#Recensioni div:nth-child(7) {
  border-top: 2px solid grey;
  padding-top: 1%;
}

#Recensioni h3 {
  font-size: 20px;
  margin: unset;
  padding: unset;
  margin-bottom: 6%;
  color: unset;
  background: unset;
  border: unset;
}

/* end container reviews */
@media screen and (min-height: 400px) {
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */

  #Recensioni > #stelle, #Recensioni > #recens {
    margin-top: -7%;
  }
}

@media screen and (min-width: 700px) {
  #page {
    width: 70%;
    margin: 0% 15%;
  }

  #Menu li button:nth-child(7) {
    width: 40%;
    margin-right: 10%;
  }

  #Menu ul {
    margin-left: -3%;
  }
}

@media screen and (min-width: 700px) {
  #Menu ul {
    margin-left: -1%;
  }

  #Recensioni label {
    margin-left: 10%;
  }

  #Recensioni > #stelle {
    margin-top: -5%;
    margin-right: 52%;
  }

  #Recensioni > #recens {
    margin-top: -5%;
    width: 60%;
    margin-right: 10%;
  }

  #Recensioni button:nth-child(7) {
    padding: 2%;
  }

  #Menu label:nth-child(4) {
    width: 50%;
  }

  #Menu li input:nth-child(6) {
    margin-left: 10%;
  }
}

@media screen and (min-width: 1000px) {
  #Menu li input:nth-child(2) {
    margin-right: 50%;
  }

  #Menu li input:nth-child(3) {
    margin-right: 55%;
    margin-top: -1%;
  }

  #Menu li input:nth-child(6) {
    width: 14%;
    float: right;
    margin-top: -6%;
    margin-right: 15%;
  }

  #Menu li button:nth-child(7) {
    width: 22%;
    float: right;
    margin-top: -2%;
    margin-right: 11%;
  }

  #Recensioni > #stelle {
    margin-right: 57%;
  }

  #Info input, #Info label {
    width: 40%;
    margin-left: 30%;
  }
}

@media screen and (min-width: 1400px) {
  #Menu li input:nth-child(3) {
    margin-top: 0%;
  }

  #Menu li input:nth-child(6) {
    margin-top: -4%;
  }

  #Menu li button:nth-child(7) {
    margin-top: -1%;
  }

  #Recensioni > #stelle {
    margin-right: 61%;
    margin-top: -4%;
  }

  #Recensioni > #recens {
    margin-top: -4%;
  }
}

@media screen and (min-width: 1800px) {
  #Menu li input:nth-child(6) {
    margin-top: -3%;
  }
}

@media screen and (min-width: 2000px) {
  #Menu li {
    padding-bottom: 2%;
    line-height: 2;
  }

  #Menu li button:nth-child(7) {
    margin-top: -2%;
  }

  #Menu li input:nth-child(6) {
    margin-top: -4%;
  }

  #Menu li input:nth-child(3) {
    width: 10%;
    margin-right: 65%;
  }

  #Recensioni > #stelle {
    margin-right: 65%;
    margin-top: -3%;
  }

  #Recensioni > #recens {
    margin-top: -3%;
  }
}
