* {
  box-sizing: border-box;
}

.icon.fas.fa-sign-in-alt.fa-5x{
	margin-left: 90%;
}

/* Add padding to containers */
form {
  padding: 16px;
  background-color: #feb773;
}

h1{
  text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=file] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 25px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=file]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

img{
	height:10%;
	width:10%;
}

#right_icons{
	position: inline-block;
}

/* Set a style for the submit button */
.registerbtn {
      background-color: #fd6a02;
  color: white;
  border-radius: 10px;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

span.icon{
	font-size: 28px;
}


.registerbtn:hover {
  opacity: 1;
}

h1{
	font-weight:bold;
	color:red;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

label {
	 font-weight:bold;
}
@media screen and (min-width: 600px) {
  span.icon{
    font-size: 55px;
  }
}

/*@media screen and (min-width: 1400px) {
  span.icon{
    font-size: 300%;
  }
  #insertform{
    width: 70%;
    margin-left: 15%;
  }
}*/

@media screen and (min-width: 700px) {
	header{
		padding: 1% 5%;
	}
  #insertform{
    width: 70%;
    margin-left: 15%;
  }
}
@media screen and (min-width: 2000px) {
  span.icon{
    font-size: 120px;
  }
}
