/* button */
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
}

.orange
{
  background-color: #FD6A02;
  border-bottom: 5px solid #feb773aa;
  width: 70%;
}
.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}
/*end button */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #feb773aa;
	text-align:center;
  margin: 0px;
}

input[type="button"]:focus {
  outline: 0;
}

body > form {
  margin-top: 5%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size : 25px;
  background-color: #feb773ff;
}

header {
  background-color: #FD6A02;
  padding: 2% 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Icon bar */

span.icon {
  cursor: pointer;
}


img.logo{
	width: 80%;
	height: 7%;
}

.reg{
  padding-top: 1%;
}

body {
  background: url(../../pizza.jpg) no-repeat fixed;
  background-size: cover;
}

span.icon:hover {
  color: white;
}

span.icon {
  color: black;
}

header {
  margin-bottom: 5%;
}

nav#icons a{
	margin-left: 90%;
}

#imgcontainer {
	margin-top:10%;
	text-align: center;
}

span.icon{
    font-size: 28px;
  }


@media screen and (min-width: 700px) {
  body > form{
    width: 70%;
    margin-left: 15%;
  }
}
