* {
  outline: 0;
}

span.icon.fa-user {
  color: grey;
}

section {
  margin-left: 3%;
}

h1 {
  display: none;
}

label {
  margin-bottom: 2%;
  display: block;
  font-weight: bold;
  text-align: center;
}

input.input {
  border-radius: 25px;
  border: 1px solid grey;
  text-align: center;
  width: 100%;
  margin-bottom: 7%;
}

input#save {
  margin-left: 8%;
  margin-top: 2%;
  font-size: 22px;
}

img {
  width: 50%;
  margin-left: 25%;
  padding-top: 2%;
}

form {
  margin-left: 15%;
  margin-top: 6%;
  width: 70%;
}

#editPwd, #confirmPwd {
  display: block;
}

#pwd, #changePwd {
  display: inline-block;
}

#changePwd {
  vertical-align: text-bottom;
}

.result {
  padding-bottom: 2%;
  text-align: center;
}

@media screen and (min-width: 300px) {
  input#save {
    margin-left: 14%;
  }
}

@media screen and (min-width: 400px) {
  input#save {
    margin-left: 20%;
  }
}

@media screen and (min-width: 700px) {
  img {
    width: 30%;
    margin-left: 34%;
    margin-top: 4%;
  }

  form {
    margin-left: 24%;
    margin-top: 6%;
    width: 50%;
  }

  input#save {
    margin-left: 15%;
  }
}

@media screen and (min-width: 1000px) {
  input#save {
    margin-left: 26%;
  }
}

@media screen and (min-width: 1300px) {
  input#save {
    margin-left: 33%;
  }
}

@media screen and (min-width: 2000px) {
  input#save {
    margin-left: 40%;
  }
}
