* {
  font-family: sans-serif;
}

header {
  background-color: #FD6A02;
  padding: 2% 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

span.icon:hover {
  color: white;
}

span.icon {
  color: black;
}

div#notification {
  cursor: pointer;
}

header {
  margin-bottom: 2%;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

nav#icons {
  position:inherit;
}

nav#icons div {
  display: inline-block;
}

div#right_icons {
  position: absolute;
  right: 0%;
  bottom: 0%;
}

span.icon {
  cursor: pointer;
}

/* Searchbar */
nav#searchbar {
  display: none;
  vertical-align: bottom;
  width: 100%;
  border-bottom: 2px solid black;
}

input#search {
  display: inline-block;
  border: none;
  background-color: #FD6A02;
  outline: none;
  max-width: 70%;
  margin-left: 5%;
  margin-bottom: 1%;
}

input#search::placeholder {
  color: black;
}

input#search::-webkit-search-cancel-button {
  display: none;
}

span.fa-times, span.fa-arrow-left {
  cursor: pointer;
}

span.fa-arrow-left {
  margin-left: 1%;
}

span.fa-times {
  display: none;
  position: absolute;
  margin-top: 1%;
  right: 10%;
}

span.icon, input#search {
  font-size: 28px;
}

body {
  background: url(../../pizza.jpg) no-repeat fixed;
  background-size: cover;
}

#page {
  background-color: #feb773ff;
}

@media screen and (max-width: 768px) {
  body {
    height:100vh;
  }
}

@media screen and (min-width: 600px) {
  #page {
    width: 70%;
    margin: 0% 15%;
    background-color: #feb773ff;
  }

  span.icon, input#search {
    font-size: 55px;
  }

  img#logo {
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  span.icon, input#search {
    font-size: 300%;
  }

  header {
    padding: 1% 5%;
  }

  img#logo {
    width: 45%;
  }
}
