table {
  border-collapse: collapse;
  width: 98%;
  text-align: center;
  margin-left: 1%;
}

header {
  margin-bottom: 5%;  
}

h1 {
  margin-top: 0%;
}

#page {
  padding-bottom: 1%;
}

td {
  border-bottom: 1px solid gray;
  height: 110px;
}

td.first {
  width: 33%;
}

h1 {
  text-align: center;
  margin-bottom: 0%;
  padding-top: 2%;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 80px;
  max-height: 100px;
  padding: 2% 0%;
  margin-left: 5%;
}

form.acceptRemove {
  display: inline-block;
  margin-left: 7%;
}

input[type="button"]:focus {
  outline: 0;
}

input.acceptRemoveBtn {
  font-size: 18px;
  margin-top: 5px;
}

img.loading {
  width: 20%;
  margin: 5% 0% 5% 45%;
  display: none;
}

table.vendors tr:hover {
 background-color: #fd6a02;
 cursor: pointer;
}

@media screen and (min-width: 700px) {
  img.loading {
    width: 80%;
    margin: 5% 0% 5% 45%;
  }
}
@media screen and (min-width: 1000px) {
  table {
    width: 70%;
    margin-left: 15%;
  }

  td.first, input.acceptRemoveBtn {
    font-size: 22px;
  }
}
