h1 {
  font-size: 20px;
  margin-left: 25%;
  padding-top: 2%;
  margin-bottom: 1%;
}

div.tab input.action-button {
  border: 0px;
  color: black;
  margin-bottom: 0px;
  border-radius: 0px;
  cursor: pointer;
}

div.tab ul {
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

div.tab ul li:last-child {
  margin-left: -5px;
}

.tab {
  overflow: hidden;
  border: 1px solid #bfa790;
  background-color: #fd6a02;
}

/* Style the buttons inside the tab */
.tab input {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  margin: 0px;
}

/* Change background color of buttons on hover */
.tab input:hover {
  background-color: #feb773ff;
}

.tab input.active {
  background-color: #fd9d4e;
}

#foods, #times, #reviews {
  display: none;
}

#details {
  display: block;
  padding-bottom: 2%;
}

img {
  width: 25%;
  margin: 2% 0% 1% 35%;
}

#details input, #details label {
  display: block;
  width: 50%;
  margin-left: 22%;
  text-align: center;
}

#details input {
  margin-bottom: 2%;
  border-radius: 25px;
  border: 1px solid grey;
}

#foods ul {
  list-style-type: none;
  padding-bottom: 1%;
}

#foods li {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

#foods input[type="text"] {
  float: right;
  margin-right: 20%;
  width: 20%;
  border: 1px solid grey;
  border-radius: 25px;
  text-align: center;
}

#foods label:nth-child(3) {
  display: block;
  padding: 0px;
  margin-left: 10px;
}

#reviews {
  padding: 6px 12px;
}

#reviews div {
  border-bottom: 1px solid grey;
}

#reviews h2 {
  font-size: 18px;
  margin-left: unset;
  padding-top: unset;
  margin-bottom: 6%;
}

.checked {
  color: orange;
}

#times {
  padding-bottom: 2%;
}

#times table {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  border-collapse: collapse;
}

#times tbody {
  padding-bottom: 2%;
}

#times th {
  font-size: 80%;
}

#times th, #times td {
  border-bottom: 1px solid grey;
  padding-bottom: 2%;
  padding-top: 2%;
}

#info, #menu, #recensioni, #time {
  font-family: sans-serif;
}

@media screen and (min-width: 350px) {
  h1 {
    font-size: 24px;
    margin-left: 28%;
  }
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 24px;
    margin-left: 32%;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 24px;
    margin-left: 37%;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 24px;
    margin-left: 42%;
  }
}

@media screen and (min-width: 2000px) {
  h1 {
    font-size: 24px;
    margin-left: 47%;
  }
}
